body{
  font-family: arial, sans-serif;
}

.claim-box{
  border: 1px solid white;
  padding: 0.5em;
  display: inline-block;
  background-color: lightblue;
  width: 5em;
  text-align: center;
  margin-right: 0.5em;
}
/* hover indicates that you can click to un-claim */
.claim-box.current-user-color:hover{
  border: 1px dashed black;
  opacity: .5;
}

.claim-box.unclaimed{
  border: 1px dashed black;
  background-color: lightgray;
  color: gray;
  cursor: pointer;
}
.claim-box.unclaimed:hover{
  border: 1px dashed black;
  background-color: white;
  color: gray;
}

.item-name {
  padding: 0.5em;
  width: 10em;
  height: 2em;
  border: none;
  font-size: 1em;
  text-align: right;
  margin: 0.5em;
  margin-right: 1em;
  padding-right: 1em;
}

.item-row{
    border-top: 1px solid #ccc;
    display: block;
    position:relative;
}
.item-row.header{
    border: none;
    border-bottom: 1px solid #ccc;
}
.item-name.header{
    font-weight: bold;
    display: inline-block;
    height: inherit;
}

/* Delete buttons for item rows */
.item-row .delete {
  cursor: pointer;
  position: absolute;
  left: 5px;
  top: 1.25em;
  height: 20px;
  width: 20px;
}
.item-row:hover .delete {
    background: url('/delete.png') no-repeat 0 0;
}
.item-row .delete:hover {
    background-position: 0 -20px;
}

.claim-boxes-title{
  font-weight: bold;
  display: inline-block;
  width: 10em;
}

.claimers{
    display: inline-block;
}

input#user-name{
  border: none;
  background-color: mediumspringgreen;
  width: 10em;
}

.user-summary{
    float:right;
}

.current-user-color{
  background-color: limegreen;
}

.center{
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}