body{
  font-family: verdana, serif;
}

.claim-box{
  padding: 0.5em;
  display: inline-block;
  background-color: lightblue;
  width: 5em;
  text-align: center;
  margin-right: 0.5em;
}

.claim-box.unclaimed{
  border: 1px dashed black;
  background-color: lightgray;
  color: gray;
}

.item {
  padding: 0.5em;
  width: 10em;
  height: 3em;
  border: none;
  font-size: 1em;
  text-align: right;
  margin: 0.5em;
  margin-right: 1em;
}

.item-row{
    border-top: 1px solid #ccc;
}

.claimers{
    display: inline-block;
}

.current-user-color{
  background-color: lightgreen;
}

.center{
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}